EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=589372650108-4ov68cd8cjilc97brffdktriv6hq4u02.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=589372650108-sm9ok94lvsfg4ha1k5v9cc6kt010uluf.apps.googleusercontent.com
EXPO_PUBLIC_API_BASE_URL=https://hippimo.hippi.work/api/v1
